@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Tinos", serif;
}

body{
    max-width: 72%;
    line-height: 1.3;
    margin: auto;
    padding-top: 16px;
}

.header {
    margin-bottom: 20px;
    padding: 10px 0;
    width: 100%;
    border-bottom: 6px solid #000;
}

table.header .logo {
    width: 110px;
    height: auto;
    padding-right: 20px;
}

table.header .text {
    text-align: center;
    line-height: 1;
}

table.header h1 {
    font-size: 18px;
    margin: 5px 0;
}

table.header p {
    font-size: 14px;
    margin: 3px 0;
}

h2 {
    text-align: center;
    font-size: 16px;
    margin: 20px 0;
    text-decoration: underline;
}

.debug{
    outline: 1px solid red;
}

.margin-top{
    margin-top: 12px;
}

.margin-top-18{
    margin-top: 18px;
}

.margin-bottom{
    margin-bottom: 12px;
}

.padding-right{
    padding-right: 12px;
}

.font-bold{
    font-weight: bold;
}

.text-center{
    display: inline-block;
    text-align: center;
}

.text-right{
    text-align: right;
}

.w-full{
    width: 100%;
}

.w-max-content{
    width: max-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-align{
        vertical-align: top;
}

.bottom-align{
    vertical-align: bottom;
}

.middle-align{
    vertical-align: middle;
}

.td-height{
    height: 80px;
    padding: 8px 0px;
}

.underline{
    text-decoration: underline;
}

table:not(.header) {
    width: 100%;
    outline: 1px solid red;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 14px;
}

table:not(.header) tr td {
    padding: 5px;
    vertical-align: top;
}

table:not(.header) tr td:first-child {
    width: 35%;
}

table:not(.header) tr td:nth-child(2) {
    width: 65%;
    padding-left: 12px !important;
}

table:not(.header) tr td[colspan="2"] {
    text-align: right;
    font-size: 14px;
    margin-top: 20px;
}

p {
    margin: 5px 0;
    font-size: 14px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}

footer p {
    margin: 2px 0;
}

.signature-table:not(.header) td {
    text-align: center;
    padding: 10px 20px;
}

.signature-table:not(.header) p {
    margin: 5px 0;
    font-size: 14px;
}

.text-red-600{
    color: #dc2626;
}